* {
    box-sizing: content-box;
    margin: 0;
    padding: 0;
    border: 0;
}

.custom-row {
    display: grid;
    grid-template-columns: repeat(9, 1fr); 
    gap: 10px; 
    margin: 0;
    padding: 0;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 0px;
}

.card img {
    width: 100px; 
    height: 100px;
    object-fit: contain;
}

.card-title {
    font-size: 12px; 
}